<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        Today's appointments
        <h1 clas="center">25</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        Today's appointments
        <h1 clas="center">25</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        Today's appointments
        <h1 clas="center">25</h1>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <%= render partial:"appointments/quick_create", locals:{appointment:@appointment} %>
</div>
